* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 75vh;
}

.header {
  text-align: right;
  padding-top: 20px;
}


.class-btn {
  font-size: medium;
  width: 135px;
  height: 40px;
  margin: auto;
  margin-right: 12px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #313131;
  color: white;
}

.class-btn1 {
  font-size: medium;
  width: 155px;
  height: 40px;
  margin: auto;
  margin-right: 12px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #313131;
  color: white;
}

.class-btn:hover {
  border-color: rgba(179, 179, 179, 0.623);
}

.class-btn1:hover {
  border-color: rgba(179, 179, 179, 0.623);
}

#inputField {
  width: 550px;
  height: 39px;
  font-size: 16px;
  border-radius: 100px;
  padding-left: 20px;
  border-color: transparent;
}

#googleFont {
  font-size: 80px;
  color: white;
  padding: 12px;
}

.button1{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
  border-radius: 3px;
}

.button1:hover{
  background-color: #0983ac;
}

a{
  color: white;
  text-decoration: none;
  padding-right: 7px;
}

a:hover {
  text-decoration: underline;
}